{% extends "default.html" %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="col-sm-8 col-md-6 col-centered">
  <form class="form" method="POST" action="">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    <h1>User Login</h1>
    <div class="form-group">
    <label for="username" class="control-label">Username:</label>
      <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="form-group">
    <label for="password" class="control-label">Password:</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="form-group">
    <button class="btn btn-action btn-block" type="submit">Log in</button>
    </div>
    <hr>
    <p class="text-center main_feature" style="margin-bottom: 30px;">Don't have an account?</p>
    <p class="text-center">You can request an account if you think it is required.</p>
  </form>
</div>

{% endblock %}
