/**
 * Styles that are not a part of page layout.
 *
 * For example:
 *  Fonts
 *  Sizes
 *  Decoration
 *  Separators
 */

dt {
    color: #E36615;
}
dt a:hover {
    color: #fa7721;    
}
ol {
    list-style:decimal;
}
ul {
    list-style:square;
}

/* added for ODRS */

th {
  font-size: 120%;
  white-space: nowrap;
  padding-right: 1em;
}

td {
  padding: .5em 0 .5em 0;
}

/* Make inputs a bit shorter */

.form .form-control {
    padding: 3px 12px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}
