paneldockchild.start panelframe:last-child entry.statusbar:dir(ltr),
paneldockchild.end panelframe:last-child entry.statusbar:dir(rtl) {
  border-bottom-left-radius: var(--window-radius);
} 
paneldockchild.start panelframe:last-child entry.statusbar:dir(rtl),
paneldockchild.end panelframe:last-child entry.statusbar:dir(ltr) {
  border-bottom-right-radius: var(--window-radius);
}
paneldockchild.start,
paneldockchild.end {
  background: var(--sidebar-bg-color);
  color: var(--sidebar-fg-color);
}
paneldockchild paneldockchild.end {
  background: var(--secondary-sidebar-bg-color);
}
paneldockchild.start:backdrop,
paneldockchild.end:backdrop {
  background: var(--sidebar-backdrop-color);
  transition: 200ms ease-in-out;
}
paneldockchild.start .frameheader,
paneldockchild.end .frameheader {
  border-top: 1px solid transparent;
}
paneldockchild.start panelresizer > widget > separator,
paneldockchild.end panelresizer > widget > separator {
  background-color: var(--sidebar-shade-color);
}
paneldockchild.start .view,
.narrow listview {
  background: transparent;
}
stack.narrow-sidebar listview row,
paneldockchild.start listview row {
  padding: 0;
}
stack.narrow-sidebar listview row treeexpander,
paneldockchild.start listview row treeexpander {
  padding: 6px 6px 6px 12px;
}

.global-search search {
  padding: 12px;
  border-bottom: 1px solid var(--border-color);
}

.global-search search > image {
  -gtk-icon-size: 24px;
}

.global-search search > text {
  font-size: 1.66666em;
  margin-left: 6px;
  margin-right: 6px;
}

.global-search search > text placeholder {
  opacity: 0.55;
}

.global-search search > button.close {
  padding: 2px;
  min-width: 24px;
  min-height: 24px;
  margin-right: 6px;
}

.global-search .preview-bin {
  border-left: 1px solid color-mix(in srgb, var(--border-color) 25%, transparent);
}
