h2, h3 {
    margin-top: 2em;
    margin-bottom: 1em;
}

pre code {
    background: #fcfcfc;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: var(--bs-code-color);
    page-break-inside: avoid;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

.toc {
    float: right;
    border: 1px solid #ddd;
    padding: 1em;
}

.toctitle {
    font-weight: bold;
}

table {
    width: 100%;
}

th, .th {
    text-align: center;
}

.table-version {
    background-color: #ddd;
}

.done {
    background-color: #00ff00;
    text-align: center;
}

.todo {
    background-color: #ff0000;
    text-align: center;
}

.del {
    text-decoration: line-through;
}
