<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Papers</string>
	<key>CFBundleIconFile</key>
	<string>Papers.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.gnome.Papers</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>papers</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
				<string>cbz</string>
				<string>cbr</string>
				<string>cb7</string>
				<string>djvu</string>
				<string>tiff</string>
				<string>tif</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>public.comic-archive-zip</string>
				<string>public.comic-archive-rar</string>
				<string>public.comic-archive-7z</string>
			</array>
		</dict>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>10.4.0</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTImportedTypeDeclarations</key>
        <array>
            <dict>
                <key>UTTypeIdentifier</key>
                <string>public.comic-archive-zip</string>
                <key>UTTypeReferenceURL</key>
                <string>https://en.wikipedia.org/wiki/Comic_book_archive</string>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.archive</string>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Comic Archive Zip</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>cbz</string>
                    </array>
                    <key>public.mime-type</key>
                    <string>application/x-cbz</string>
                </dict>
            </dict>
            <dict>
                <key>UTTypeIdentifier</key>
                <string>public.comic-archive-rar</string>
                <key>UTTypeReferenceURL</key>
                <string>https://en.wikipedia.org/wiki/Comic_book_archive</string>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.archive</string>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Comic Archive Rar</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>cbr</string>
                    </array>
                    <key>public.mime-type</key>
                    <string>application/x-cbr</string>
                </dict>
            </dict>
            <dict>
                <key>UTTypeIdentifier</key>
                <string>public.comic-archive-7z</string>
                <key>UTTypeReferenceURL</key>
                <string>https://en.wikipedia.org/wiki/Comic_book_archive</string>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.archive</string>
                    <string>public.data</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Comic Archive 7zip</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>cb7</string>
                    </array>
                    <key>public.mime-type</key>
                    <string>application/x-cb7</string>
                </dict>
            </dict>
        </array>
</dict>
</plist>
