Constants
=========

.. currentmodule:: gi.repository.{{ namespace }}

{% for name, value, doc, deprecated, since in constants %}

.. data:: {{ name }}
   :value: {{ value }}

   {{ doc | indent(3) }}

{% if since %}
   .. versionadded:: {{ since }}
{% endif %}

{% if deprecated %}
{% set version, doc_ = deprecated %}
   .. deprecated:: {{ version }}
      {{ doc_ | indent(6) }}
{% endif %}

{% endfor %}