[submodule "rust/gir-files"]
	path = rust/gir-files
	url = https://github.com/gtk-rs/gir-files
	branch = master
	update = none
[submodule "rust/gir"]
	path = rust/gir
	url = https://github.com/gtk-rs/gir
	branch = master
	update = none
